<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VK2FGAV</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        
    </style>
</head>
<body class="bg-gradient-to-r from-black to-[#051912] min-h-screen flex items-center justify-center">
    <div class="text-center p-6">
        <h1 class="text-9xl italic font-bold text-outline">VK2FGAV</h1>
    </div>
</body>
</html>
